.historyItem {
    display: flex;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, .1);
    border-radius: 30px;
    padding: 15px 12px;
    padding-left: 30px;
    align-items: flex-start;
    width: 350px;
    max-width: 400px;
    justify-content: space-between;
}

.historyItem input{
    margin-top: 5px;
}