.app-wrapper{
    margin-left: 10px;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-auto-flow: row;
}

.app-wrapper-content{
    max-width: 1200px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    margin-top: 15px;
}

@media (max-width:480px)  {
    /* smartphones, Android phones, landscape iPhone */
        .app-wrapper-content{
            width: auto;
            height: auto;
            margin: 0 auto;
            display: flex;
            margin-top: 15px;
        }
    .app-wrapper{
        margin-left: 0;
    }

}

